/* Theme colours */

:root {
    --body-cream: rgb(253, 250, 238);
    --recipe-tan: rgb(245, 224, 198);
    --recipe-sand:rgb(231, 202, 164);
    --footer-brown: rgb(231, 198, 158);
    
}

/* Theme Text Styling */

h1, .intro, .recipe-title {
    text-align: center;
}

p, figcaption, .ingredients-list, .steps-list {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}


/* HEADER STYLING */

header {
    background-image: url("./images-and-links/basil-tomato-header.jpg");
    background-size: cover;
}

.header-overlay{
   background-color: rgba(0,0,0, 0.2); 
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    height: 250px;
    line-height: 250px;
    margin-top: 0;
    color: #fff;
}


/* MAIN BODY STYLING */

body {
    background-color: var(--body-cream);
    padding: 0;
    margin: 0;
}

/* index.html body styling */

.intro {
    width: 600px;
    display: block;
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
}

.intro p {
    font-size: 18px;
    line-height: 30px;
}

#welcome {
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: bold;
}

/* Responsive recipe image cards*/


#recipe-links {
    background-color: var(--recipe-tan);  
}

#index-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.preview
{
    padding-top: 15px;
    
}

.preview img {
    width: 350px;
    height: 400px;
    object-fit: cover;   
    border-radius: 20px;
}

figure {
    display: flex;
    flex-flow: column;
}

figcaption {
    color: #fff;
    position: absolute;
    top: 340px;
    width: 100%;
    text-align: center;
    background-color: rgba(35, 35, 39, 0.6);
    padding: 20px 0 22px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    opacity: 0;
}

span {
    color: #fff;
    margin:
}

/* Recipe cards - hover effects */

.image-container:hover {
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.image-container:hover figcaption {
    opacity: 1;
    transition: .3s ease-in-out;
}

/* Recipe page body styling */

.recipe-introduction, .recipe-container {
    width: 800px;
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.recipe-title {
    font-size: 30px;
    padding: 0 0 20px 0;
}

.recipe-image-main {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.recipe-introduction p {
    max-width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0 0 5% 0;
}

.recipe-container {
    background-color: var(--recipe-tan);
    margin-bottom: 20px;
}

.recipe-ingredients, .recipe-steps, .recipe-notes {
    padding: 10px 20px 10px 20px;
}

.recipe-ingredients {
    padding-top: 10px;
    border-bottom: solid var(--body-cream);
}

.recipe-ingredients h3 {
    padding-left: 20px;
}

.ingredients-list {
    margin-left: 20px;
}

.steps-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.recipe-notes {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: solid var(--body-cream);
    background-color: var(--recipe-sand);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Curved bottom edges of 'Steps' div when there is no 'Notes' div */

.recipe-container.no-notes {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* RESPONSIVE MEDIA QUERIES */

@media (max-width: 900px) {
    .preview img {
        width: 500px;
        height: 600px;
    }

    figcaption {
        top: 540px;
    }
}